/*general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f6f8f9;
}

/*header*/

header {
    width: 100%;
    height: 75px;
    background-color: white;
    
}

#logo {
   vertical-align: middle;
   height: 60px;
   margin: 10px;
}

h1{
    display: inline-block;
}

/*MAIN*/
main{
    width: 70%;
    height: 500px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: white;

}
/*first-section*/
#nav{
    padding-bottom: 10px;
    border-bottom: 3px solid #f6f8f9;
}

#botton-left{
    display: inline-block;
    height: 30px;
    width: 85px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    color: white;
    background-color: #47adf1 ;
    margin-top: 20px;
    margin-left: 50px;
}

#botton-right{
    display: inline-block;
    height: 30px;
    width: 95px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    color: #c5cbd0;
    border: 1px solid #c5cbd0;
    margin-top: 20px;
}

/**contained*/
ul{
    list-style-type: none;
    margin: 0px 50px;
}

.row{
    margin-top: 10px;
}
.subtitles{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 48px;
}

.check{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px;
}

.folders{
    display: inline-block;
    height: 23px;
    width: 75px;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    border-radius: 11px;
    color: white;
    background-color: #45abea;
}